<ion-header>
  <ion-toolbar>
    <ion-title>list-pilots</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content padding>
    <ion-card *ngFor="let pilot of pilots">
      <ion-card-header></ion-card-header>
      <ion-card-content >
       
        {{pilot.address}}


     
      </ion-card-content>
    </ion-card>
  </ion-content>

