<ion-header>
  <ion-toolbar>
    <ion-buttons>
    <button ion-button (click)="onGoToPilots()">Appareils</button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
Bienvenu sur le site de gestion des parapentes
</ion-content>


<ion-footer padding>
  <p>Bas de page</p>
</ion-footer>